{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="d-flex justify-content-center align-items-center flex-column">
    <h1 class="display-3 text-center text-white mb-5 mt-5">Bienvenue sur MyLoc</h1>

    <div class="border rounded-3 bg-white text-center shadow-lg w-100 p-3 mb-5">
        <h2 class="display-5 text-center text-dark text-shadow"><em>
            Prêtez, empruntez, partagez : du petit outil à l’équipement imposant, facilitez vos projets ensemble !
        </em></h1>
        {# <a href="{{ path('app_item_index') }}" class="btn btn-primary btn-lg">Voir tous les objets disponibles</a> #}
    </div>
</div>
<div class="container text-center mt-5">
<h5 class="text-center text-white mb-5 mt-5 fw-bold"><u> Quelques avantages de MyLoc :</u></h5>
  <div class="row ">
    <div class="col border-end mt-5">
        <p class="text-white fw-bold"><u>1. Économiser de l’argent</u></p>
        <p class="text-white"><small>Pourquoi acheter un outil ou un équipement cher qu’on ne va utiliser qu’une fois ? L’application permet d’emprunter gratuitement ce dont on a besoin.</small></p>
    </div>
    <div class="col border-end mt-5">
        <p class="text-white fw-bold"><u>2. Rentabiliser ses objets inutilisés</u></p>
        <p class="text-white"><small>Les utilisateurs peuvent prêter ce qu’ils possèdent déjà — du petit matériel aux machines plus imposantes — pour rendre service au voisinage.</small></p>
    </div>
    <div class="col mt-5">
        <p class="text-white fw-bold "><u>3. Encourager l’entraide et réduire le gaspillage</u></p>
        <p class="text-white"><small>Partager les objets plutôt que d’en acheter de nouveaux contribue à un mode de consommation plus responsable et renforce les liens entre particuliers.</small></p>
    </div>
  </div>
</div>


{% endblock %}
