{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1 class="display-1 text-center text-white mb-5">Category index</h1>

    <table class="table w-50 mx-auto bg-white rounded-3 shadow-lg table-hover table-striped">
        <thead>
            <tr>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
        {% for cat in category %}
            <tr>
                <td><a href="{{ path('app_category_show', {'id': cat.id}) }}">{{ cat.name }}</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center my-4 mt-5 ">
        <a href="{{ path('app_item') }}" class="btn btn-primary">Retour</a>
    </div>
{% endblock %}

