{% extends 'base.html.twig' %}

{% block title %}Mes objets{% endblock %}

{% block body %}
    <h1 class="display-1 text-center text-white mb-5">Mes objets</h1>

    {% if items is empty %}
        <p>Aucun item.</p>
    {% else %}
        <table class="table table w-50 mx-auto bg-white rounded-3 shadow-lg table-hover table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.name|capitalize  }}</td>
                        <td>{{ item.description|raw  }}</td>
                        <td class="d-flex gap-3 justify-content-center">
                        {{ include('item/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <div class="text-center my-4 mt-5 ">
        <a href="{{ path('app_account') }}" class="btn btn-primary">Retour</a>
    </div>
{% endblock %}